<div class="main">
  <div class="place">
    <div #screen class="place__screen" [class.place__screen--no-image]="!imageUrl" [style]="imageStyle">
      <div class="place__screen-image">
        <img *ngIf="imageUrl" [src]="imageUrl" />
      </div>
      <div
        class="place__screen-text"
        #screenText
        [style]="textStyle"
        [cdkDragFreeDragPosition]="dragPosition"
        cdkDragBoundary=".place__screen"
        cdkDrag
      >
        {{ textControl.value }}
      </div>
    </div>
    <div class="form place__form">
      <div class="form__file">
        <input
          class="ng-hide"
          id="input-file-id"
          type="file"
          [formControl]="fileControl"
          (change)="onSelectFile($event)"
        />
      </div>

      <mat-form-field>
        <mat-label>Введите текст</mat-label>
        <input matInput [formControl]="textControl" />
      </mat-form-field>

      <div class="place__form-font-size">
        <div class="example-label-container">
          <label id="example-name-label" class="example-name-label">Размер шрифта </label>
        </div>
        <mat-slider
          thumbLabel
          tickInterval="1000"
          step="1"
          min="12"
          max="48"
          [displayWith]="formatLabel"
          [formControl]="fontSizeControl"
        ></mat-slider>
      </div>

      <mat-form-field>
        <mat-label>Выберите позицию текста</mat-label>
        <mat-select [formControl]="positionsControl">
          <mat-option *ngFor="let position of positionList" [value]="position.key">{{ position.value }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput [ngxMatColorPicker]="picker" [formControl]="colorControl" [disabled]="disabled" />
        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color"></ngx-mat-color-picker>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="downloadImage()">Скачать</button>
    </div>
  </div>
</div>
